body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ff7f50;
    padding: 20px;
    text-align: center;
    color: white;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#gallery, #favorites-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

img {
    width: 100%;
    border-radius: 8px;
}